body {
    margin: 0px;
    padding: 0px;
}

button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    color: rgb(14, 5, 5);
    font-weight: 500;
    padding: 0.5em 2em;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
    margin-bottom: 10px;
}

.descr {
    color: rgb(6, 9, 14);
    text-align: center;
    padding-bottom: 10px;
    font-weight: normal; /* Убираем жирное начертание */
}

.bottom {
    border-top: 1px solid #000;
    display: block;
}

h1 {
    text-align: center;
}

#container {
    width: calc(100% - 350px);
    padding-top: 40%;
    float: left; /* Обтекание по правому краю */
    margin-left: 50px;
    margin-right: 50px;
}

.layer1 {
    background-color: rgb(175, 174, 170); /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}

.center {
    display: inline-block;
    width: calc(100%);
    width: calc(100%);
}

.input_data {
    display: inline-block;
}

.hide {
    display: none;
}

button {
    display: block;
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin-bottom: 10px;
}

#del {
    border: 1px olid #cccccc;
    border-radius: 3px;
    outline: none;
    height: 25px;
    width: 94px;
    color: #cccccc;
    font-size: 15px;
    font-family: Tahoma;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #000000;
    padding: 3px;
}

.opt {
    vertical-align: top;
    padding: 10px;
    font-size: 20px;
}

input[type="text"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    outline: none;
    height: 15px;
    width: 90px;
    color: #cccccc;
    font-size: 11px;
    font-family: Tahoma;
    margin-top: 4px;
    margin-bottom: 4px;
    color: #000000;
    padding: 3px;
    font-size: 15px;
}

select:hover,
button:hover,
input:hover {
    border: 2px solid #11c6e6;
}

input[type="checkbox"],
.func_name_descr,
.rectangle {
    display: inline-block;
    text-align: center;
}

input[type="checkbox"] {
    margin-left: auto;
}

.check_container {
    margin-top: 6px;
    margin-bottom: 6px;
}

.func_name_descr {
    width: 53px;
    margin-left: auto;
    text-align: center;
}

.rectangle {
    width: 40px;
    height: 20px;
    float: right;
    margin-right: 40px;
    margin-left: 5px;
    margin-top: 2px;
}
